/* Team Section */

.section {
  position: relative;
  background-color: var(--primary-color);
  color: #fff;
}

.mission {
  margin-bottom: 20px;
}

.eduwayBio {
  max-width: 700px;
  font-size: 1.1rem;
  margin-bottom: 100px;
}

.profileBox {
  margin-bottom: 80px;
  text-align: center;
}

.collaboratorsSection {
  padding: 60px 0 0;
}

.collaboratorsTitle {
  text-align: center;
  margin-bottom: 20px;
}
