/* Activities Section */
.section {
  padding-bottom: 160px;
}

.activityCard {
  position: relative;
  bottom: 100px;
  max-width: 360px;
  height: 610px; /*hard coded fixed size for all cards*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px;
  margin: 0 auto 60px;
  text-align: center;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 5px 5px 15px 2px #222, inset 0 0 0 4px var(--fourth-color),
    inset 0 0 30px 1px #ddd;
}

.activityImage {
  object-fit: contain;
  max-width: 280px;
  margin: 0 auto 20px;
}

.podcastImage {
  border-radius: 10px;
  max-width: 220px;
}

.activityTitle {
  margin-bottom: 10px;
}

.featuresBox div {
  margin: 0 auto 40px;
}
@media (min-width: 992px) {
  .featuresBox {
    margin-bottom: 40px;
  }
}
