/* Activities Section */
.section {
  padding-bottom: 160px;
}

.activityCard {
  position: relative;
  bottom: 100px;
  max-width: 360px;
  padding: 30px 10px;
  margin: 0 auto 60px;
  text-align: center;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 5px 5px 15px 2px #222, inset 0 0 0 4px var(--fourth-color),
    inset 0 0 30px 1px #ddd;
}

.activityImage {
  object-fit: contain;
  max-width: 220px;
  margin: 0 auto 20px;
}

.podcastImage {
  border-radius: 10px;
}

.activityTitle {
  margin-bottom: 20px;
}

.podcastPlatformsRow {
  margin: 20px auto 0;
  max-width: 240px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.featuresBox div {
  margin: 0 auto 60px;
}
