/* Heading Section */
.section {
  color: #fff;
  background: var(--primary-color);
  padding-bottom: 100px;
  height: calc(
    100vh + 100px
  ); /*viewport minus navbar height minus smartphone bottom navigation commands*/
  /*Add px becouse of reveal animation of following contents*/
  padding-top: 40px;
  padding-bottom: 260px; /*padding for reveal animation*/
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  font-size: 3rem;
  font-weight: 800;
  margin: 30px 0 0;
}
.subtitle {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 30px;
}
