.section {
  padding-top: 40px;
  padding-bottom: 100px;
}
.section.mission {
  color: #fff;
  background-color: var(--fourth-color);
}
.section.vision {
  color: var(--primary-color);
  background-color: var(--third-color);
}

.missionBox {
  position: relative;
  bottom: 6vw; /*Move up for larger screens*/
  max-width: 360px;
  margin: 0 auto;
  z-index: 1;
}

.missionBox h2 {
  font-size: 2.6rem;
}
.missionBox p {
  font-size: 1.4rem;
}
