.section {
  padding-top: 40px;
  padding-bottom: 120px;
}
.section.mission {
  color: #fff;
  background-color: var(--fourth-color);
}
.section.vision {
  color: var(--primary-color);
  background-color: var(--third-color);
}

.missionBox {
  max-width: 360px;
  margin: 0 auto;
}
.missionBox h2 {
  font-size: 2.6rem;
}
.missionBox p {
  font-size: 1.4rem;
}

/*Try to keep mission Box vertically centered for large screens*/
@media (min-width: 768px) {
  .section {
    padding-top: 0;
  }
}

@media (min-width: 992px) {
  .section {
    padding-bottom: 180px;
  }
}
