/* Partners section */

.section {
  padding-bottom: 100px;
}

.partnersRow {
  margin-top: 60px;
  text-align: center;
}
.logoFocr {
  width: 120px;
}
.logoRB {
  width: 150px;
}

.partnersTitle {
  text-align: center;
}
