.navbar {
  background-color: var(--primary-color);
  border-bottom: #fff solid 3px;
}

.brand {
  height: 2rem;
  cursor: pointer;
}

.podcastRight {
  display: none;
}

@media (min-width: 992px) {
  .podcastRight {
    display: initial;
  }
  .podcastLeft {
    display: none;
  }
}
