.scene {
  border-radius: 100%;
  perspective: 600px;
  margin: 0 auto 20px;
}
/*Assign a dimension to the .scene*/
.founder {
  width: 200px;
  height: 200px;
}
.collaborator {
  width: 120px;
  height: 120px;
}

.card {
  padding: 0; /*Override button style*/
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1500ms ease;
}
.card:focus {
  outline: none; /*Override button style*/
}

.cardFace {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: solid 2px #fff;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}
/*It helps understand that it can be clicked*/
.cardFaceFront:hover {
  box-shadow: 0 0 0 3px #ffffffb4;
}

.cardFaceBack {
  transform: rotateY(180deg);
  background-color: var(--third-color);
  border: solid 1px #fff; /*It scales up with transform scale*/
  box-shadow: inset 0 0 30px 10px #ccc;
}

/*Normally translateX would be -100%, but to keep it centered while scaling I have to add half of the scaling to translate*/

.card.isFlippedFounder {
  transform: translateX(-130%) rotateY(-180deg) scale(1.6);
}
/*Collaborators cards are smaller, need larger scale up*/
.card.isFlippedCollaborator {
  transform: translateX(-170%) rotateY(-180deg) scale(2.4);
}

.profileImage {
  object-fit: cover;
  width: 100%;
  border-radius: 100%;
}

.profileBio {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profileBio.founder {
  padding: 32px 22px;
  font-size: 0.9rem; /*Scaled up by transform scale*/
}
.profileBio.collaborator {
  padding: 20px 14px;
  font-size: 0.6rem; /*Scaled up by transform scale*/
}
