/* Mission Section */
.section {
  width: 100%;
  max-width: 360px;
  position: relative;
  bottom: 60px;
  margin-bottom: 40px;
  background-color: #fff;
  color: var(--primary-color);
  border-radius: 20px;
  box-shadow: 5px 5px 15px 2px #222, inset 0 0 0 4px var(--fourth-color),
    inset 0 0 30px 1px #ddd;
  padding: 10px 20px;
  text-align: center;
}
