/* Heading Section */
.headingSection {
  color: var(--primary-color);
  height: calc(100vh - 90px); /*viewport minus navbar height - SF bar*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.headingTitle {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 20px;
}
.headingSubtitle {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 60px;
}

.scrollDown {
  align-self: center;
}

/* Activities Section */
.activitiesSection {
  background: var(--primary-color);
}

.activity {
  margin-top: 20px;
}

.feature {
  max-width: 200px;
  margin-top: 20px;
}

/* Methodology Section */

.methodologyStep {
  padding-bottom: 20px;
}

/* Mission Section */
.missionSection {
  background-color: var(--primary-color);
  color: #fff;
}

/* Team Section */

/* Action Section */
.actionSection {
  background-color: var(--primary-color);
  color: #fff;
}

/*Podcast Section*/
