/* Podcast page styles */
.section {
  padding-top: 40px;
}
.heading {
  color: #fff;
  background-color: var(--primary-color);
  padding-bottom: 140px;
}
@media (min-width: 768px) {
  .heading {
    padding-bottom: 180px;
  }
}

.podcast {
  position: relative;
  top: -140px;
}

.player {
  box-shadow: 5px 5px 15px 2px #222;
  background-color: #fff; /*bottom of the player looks transparent*/
  margin-bottom: 40px;
}
